---
import { SITE_TITLE } from '@/consts';
const today = new Date();
---

<footer class="bg-gray-100 border-t border-dashed border-sky-200">
	<div class="max-w-screen-lg mx-auto px-4 py-6 text-center">
		<p class="text-gray-400 text-xs">&copy;{today.getFullYear()} {SITE_TITLE}</p>
	</div>
</footer>
